body a {
	text-decoration: none;
}
/* CONTENT AREA */
#content {
	padding-bottom: 0;
}
.entry-content {
	max-width: 100% !important;
}
.page .site-content {
	margin-left: 0;
}
.logo-box {
	background-image: url(images/logo.png);
	width: 45px;
	height: 53px;
	display: block;
	margin: 0 auto;
	background-size: 100%;
	margin-top: 2rem;
}
#primary {
	background: #fff;
	background: hsl(0, 0%, 100%);
	padding-left: 0;
	margin-left: 0;
	z-index: 100;
}
/*.section-title*/
.section-title {
	text-transform: uppercase;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}
/* WHO */
#who {
	padding: 4rem 0;
	background: #bbb;
	color: white;
}
#who .section-title {
	color: cornsilk;
	margin-bottom: 1rem;
   border-bottom: 2px solid cornsilk;
}

/* WHAT */ 
#what {
    padding: 4rem 0 0 0;
}
#what .section-title {
    margin-bottom: 1rem;
    border-bottom: 2px solid #ccc;
}
.what-list {
    padding: 0;
    list-style: none;
    text-align: justify;
}
.what-list li {
    display: block;
    color: #404040;
    padding: .1rem;
    margin-bottom: 2rem;
    text-decoration: none;
    -webkit-column-break-inside: avoid;
                   break-inside: avoid-column;
}
.what-list li,
.what-list li a,
.what-list li h3 {
    transition: all .5s linear;
}
.what-list li:hover {
    background: cornsilk;
}
.what-title {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 30px;
    line-height: 1em;
    text-align: center;
}
.what-list p {
    margin: 0;
}
.what-list .more-link {
    text-decoration: underline;
    padding-top: 15px;
    display: inline-block;
}
/* WHAT ICONS */
.what-title::before {
    font-family: 'fontawesome';
    margin-right:15px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
}
#web-design::before {
    content: '\f121';
}
#graphic-design::before {
    content: '\f1fc';
}
#programming::before {
    content: '\f11c';
}
#user-interface::before {
    content: '\f277';
}
/* WHAT RESPONSIVE */ 
@media screen and (min-width: 650px) {
    .what-title {
        margin-bottom: 0;
        padding-right: 10px;
        width:35%;
        float: left;
        font-size: 25px;
    }
    .what-lede {
        width:65%;
        float: left;
    }
    .what-title::before {
        display: block;
        margin-right:0;
    }
}
@media screen and (min-width: 950px) {
    .what-list {
        -webkit-column-count: 2;
                column-count: 2;
    }
    .what-title {
        font-size: 20px;
    }
    
}
/* PORTFOLIO */
/* See Parent Theme */

/* RESUME */
#resume {
	padding: 4rem 0;
	text-align: center;
	background: #000;
	color: #fff;
}
#resume a {
	transition: all .5s linear;
	display: block;
	margin: 1rem auto;
	max-width: 200px;
	color: white;
	padding: .25rem 1rem;
	border: 1px solid white;
	text-decoration: none;
	text-transform: uppercase;
}
#resume a:hover {
	background: #fff;
	color: #000;
}
/* WHY HIRE ME */
#why {
	padding: 4rem 0;
    color: #000;
}
#why .section-title {
    margin-bottom: 1rem;
    border-bottom: 2px solid #ccc;
}
.why-list {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}
.why-list li {
    text-align: justify;
    display: inline-block;
    margin: 0;
    margin-top: 2rem;
    padding: 1rem;
    width: 45%;
}
.why-list i {
    display: block;
    font-size: 40px;
    text-align: center;
}
.why-list h3 {
    text-align: center;
}
@media screen and (min-width: 860px) {
    .why-list li {
        margin: 1rem;
    }
}
@media screen and (max-width: 750px) {
    .why-list li {
        display: block;
        width: 100%;
    }
}
@media screen and (min-width: 1200px) {
    .why-list li {
        max-width:30%;
    }
}
/* CONTACT */
#contact {
	padding: 4rem 0;
	background: cornsilk;
	color: #000;
}
#contact .section-title {
    margin-bottom: 1rem;
    border-bottom: 1px solid #000;
}
#contact ul {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
#contact li {
    display: inline-block;
    margin: 0 2rem;
}
.front-left,
.front-right {
    width: 100%;
    float: none;
    padding: 0;
}

@media screen and (min-width: 750px) {
   .front-left {
        width: 50%;
        float: left;
        padding-right: 1rem;
    }

    .front-right {
        width: 50%;
        float: right;
        padding-left: 1rem;
		
    }
}
/* Indent */
.indent {
    margin: 0 auto;
    padding:0 4rem;
}


@media screen and (max-width: 1099px) {
    .indent {
        margin: 0;
        padding: 0 2rem;
    }
}

@media screen and (max-width: 320px) {
    .indent {
        margin: 0 2rem;
    }
}
