body a {
	text-decoration: none;
}

/* CONTENT AREA */
#content {
	padding-bottom: 0;
}
.entry-content {
	max-width: 100% !important;
}
.page .site-content {
	margin-left: 0;
}
.logo-box {
	background-image: url(images/logo.png);
	width: 45px;
	height: 53px;
	display: block;
	margin: 0 auto;
	background-size: 100%;
	margin-top: 2rem;
}
#primary {
	background: #fff;
	background: hsl(0, 0%, 100%);
	padding-left: 0;
	float: none;
	margin-left: 0;
	z-index: 100;
}
/*.section-title*/
.section-title {
	text-transform: uppercase;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}
/* WHO */
#who {
	padding: 4rem 0;
	background: #bbb;
	color: white;
}
#who .section-title {
	color: cornsilk;
	margin-bottom: 1rem;
   border-bottom: 2px solid cornsilk;
}

/* WHAT */ 
#what {
    padding: 4rem 0;
}
#what .section-title {
    margin-bottom: 1rem;
    border-bottom: 2px solid #ccc;
}

.what-list {
    margin: 1rem -4rem 0 -2rem;
    padding: 0;
    list-style: none;
}

.what-list li {
    display: block;
    color: #404040;
    padding: 1rem;
    margin: 0 2rem 2rem 0;
    text-decoration: none;
    -webkit-column-break-inside: avoid;
                   break-inside: avoid-column;
}

.what-list li,
.what-list li a,
.what-list li h3 {
    transition: all .5s linear;
}

.what-list li:hover {
    background: cornsilk;
}
.what-title {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 24px;
    line-height: 1em;
}
.what-list .more-link {
    text-decoration: underline;
}

/* WHAT RESPONSIVE */ 

@media screen and (min-width: 450px) {
    .what-title {
        margin-bottom: 0;
        margin-right: 10%;
        width: 40%;
        float: left;
    }
    .what-lede {
        width: 50%;
        float: left;
    }
    
}
@media screen and (min-width: 950px) {
    .what-list {
        -webkit-column-count: 2;
                column-count: 2;
    }
}


/* PORTFOLIO */
#portfolio {
	padding: 4rem 0;
}
/* RESUME */
#resume {
	padding: 4rem 0;
	text-align: center;
	background: #000;
	color: #fff;
}
#resume a {
	transition: all .5s linear;
	display: block;
	margin: 1rem auto;
	max-width: 200px;
	color: white;
	padding: .25rem 1rem;
	border: 1px solid white;
	text-decoration: none;
	text-transform: uppercase;
}
#resume a:hover {
	background: #fff;
	color: #000;
}
/* WHY HIRE ME */
#why {
	padding: 4rem 0;
}
/* CONTACT */
#contact {
	padding: 4rem 0;
	background: cornsilk;
	color: #000;
}
.front-left,
.front-right {
    width: 100%;
    float: none;
    padding: 0;
}

@media screen and (min-width: 750px) {
   .front-left {
        width: 50%;
        float: left;
        padding-right: 4rem;
    }

    .front-right {
        width: 50%;
        float: right;
        padding-left: 4rem;
		text-align: right;
    }
}
/* Indent */
.indent {
    max-width: 1000px;
    margin: 0 auto;
}


@media screen and (max-width: 1099px) {
    .indent {
        margin: 0;
        padding: 0 4rem;
    }
}

@media screen and (max-width: 320px) {
    .indent {
        margin: 0 2rem;
    }
}
